%h1 Home#index

-unless current_user
  %span
    [
    = link_to "Sign in", :new_user_session
    |
    = link_to "Sign up", :new_user_registration
    ]
-else
  %p
    = "Zalogowałeś się jako #{current_user.login}"
    = link_to "Sign out", :destroy_user_session, :method => :delete
